html{
 background-color: #dbd7d2;
}

img {
    height: 100px;
    width: 200px;
    display: list-item flow;
}


h2{
  font-family: "Leto Text Sans";
  text-align: center;
  color: black;
  margin-left: 150px;
  margin-right: 150px;
}

.block{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    max-width: auto;
    background-color: #dbd7d2;
    border: 5px solid grey;
    border-radius: 25px;
    padding: 30px;
}

